.col-xs-4{min-height:300px;}
.wrapper-face {
      margin: auto;
      
}
.cont-intro {
      height: 100vh;
}
/* .wrapper-intro {
      justify-content: center;
}
.intro-text {
      margin: auto;
} */
.navbar-nav > li{
      padding-left:30px;
      padding-right:30px;
    }