.col-xs-4{min-height:300px;}
.wrapper-face {
      margin: auto;
      
}
.cont-nav {
      font-size: 13px;
}

/* .wrapper-intro {
      justify-content: center;
}
.intro-text {
      margin: auto;
} */
.navbar-nav > li{
      padding-left:30px;
      padding-right:30px;
    }
    .intro-id {
      height: 100vh;
}
.about-id {
      height: 100vh;
}




  /* .card-img{
      width: 100%!important;
      height: 200px!important;
      object-fit: cover;
   }
   @media (min-width: 576px) {
      card-columns {
            column-count: 3;
            -webkit-column-gap: 1.25rem;
            -moz-column-gap: 1.25rem;
            grid-column-gap: 1.25rem;
            column-gap: 1.25rem;
            orphans: 1;
            widows: 1;
        }
   } */
   
   
